[submodule "Structure-preserving-Lax-Wendroff-schemes-for-low-Mach-number-flows"]
	path = Structure-preserving-Lax-Wendroff-schemes-for-low-Mach-number-flows
	url = git@github.com:0xBachmann/Structure-preserving-Lax-Wendroff-schemes-for-low-Mach-number-flows.git
